.container{
    width:100%;
    height: auto;
    min-height:950px;
    border: none;
}
.Header{
    width: 94%;
    margin: 0 auto;
    min-height: 150px;
    border: none;
    background: #2874F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: white;
}
.logo{
    width: 180px;
    min-height : 149px;
    border: 0px solid #000;
}
.logo img{
    height: 150px;
}
.search_bar{
     display: flex;
    align-items: center;
    gap: 10px;
}

.search_bar input{
    padding: 5px 10px;
    font-size:17px;
    width: 280px;
    height : 35px;
}
.search_bar button{
    padding: 0,15px;
    font-size: 15px;
    height: 35px;
    background-color: #2874F0;
    color:white;
    border: none;
    /* margin-left: 10px; */
}

/* login dropdown */
.login-btn select {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    outline:none;
    background: #2874F0;
    color: white;
}
.text1{
    border: 0px solid #000;
    font-size:18px;
    display:flex;
    gap: 20px;
    font-weight:bold;
}
.content{
    min-height: 300px;
    height:auto;
    width: 454px;
    border:none;;
    margin-top: 24px;
    margin-left: 1px;
}
.content2{
    min-height: 504px;
    height:auto;
    width: 498px;
    border:none;
    margin-top: -506px;
    margin-left: 456px;
    padding: 20px;
}
.product-form{
    min-height: 463px;
    height:auto;
    width: 490px;
    border:3px solid #000;
    padding: 20px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -507px;
    margin-left: 957px;

}
.label-title{
    border:none;
    font-weight:bold;
    display: block;
    margin: 15px 0 5px;

}
.size-options{
    border:none;
    margin-right:10px;

}
.product-form select{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    background: #2874F0;
}
.btn-group{
    border: 0px solid #000;
    margin-top: 78px;
    text-align: center;
}
.add-cart,
.buy-now{
    border: 2px solid #000;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    border: none;
}
.add-cart{
    background: #FF9F00
}
.buy-now{
    background: #FB641B;
    color: #fff;
}
.details-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 12px;
    column-gap: 20px;
}
.footer{
    background: #0d1b2a;
    color:white;
    padding: 20px;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.footer-links span{
    margin-right: 30px;
    cursor: pointer;
    color: #ffcc00;
    font-weight: bold;
}
.label {
    color: #777;
    font-size: 14px;
}
.value {
    font-size: 14px;
    color: #333;
}

