#container{
    width: 100%;
    height: auto;
    margin:0px auto;

}
.card{
    width:175px;
    height: 240px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    float:left;
}
.category-pill {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 10px;
    background: #f3f3f3;
    font-weight: 500;
    margin-top: 8px;
}